@tailwind base;
@tailwind components;
@tailwind utilities;






body {
    /* background-color:  #0f172acd;; */
    --sb-track-color: #0f172acd;
    --sb-thumb-color: #a855f7;
    --sb-size: 5px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    }
  
    /* date input calender color */
    ::-webkit-calendar-picker-indicator {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
      cursor: pointer;
    }
  
    /* modal bg
    .modal{
      background-image: url();
    } */
  
  /**** Common style ****/
    .my-container{
        @apply max-w-[1240px] mx-auto px-3
    }
    .my-title{
        @apply font-bold text-2xl lg:text-4xl
    }
    .my-subtitle{
        @apply font-semibold text-xl lg:text-2xl
    }
  
    .my-inp{
      @apply w-full p-3 rounded bg-slate-900 text-slate-100
    }
    .my-inp:focus{
      @apply shadow-inner shadow-slate-400 outline-none
    }
  
    .my-btn-one{
      @apply rounded inline-block bg-emerald-500 px-3 py-2 hover:animate-pulse font-semibold text-slate-50
    }
    .my-btn-one-outline{
      @apply rounded inline-block border-2 border-emerald-500 text-emerald-500 bg-white hover:bg-emerald-500 hover:text-white transition px-3 py-2 hover:animate-pulse font-semibold
    }
    